<form class="{{cssClass}}" autocomplete="off">
<div class="czt-wrapper">
  <div class="czt-row">
    <div class="czt-column">
      <input name="name" type="text" value="{{data.name}}" placeholder="{{localize "CZT.Actor.Name"}}" />
    </div>
  </div>
</div>

<nav class="sheet-tabs tabs" data-group="primary">
  <a class="item" data-tab="properties">{{localize "CZT.Common.Navs.Game"}}</a>
  <a class="item" data-tab="description">{{localize "CZT.Common.Navs.Master"}}</a>
</nav>

<section class="sheet-body">

  <div class="tab properties" data-group="primary" data-tab="properties">
    <div class="czt-wrapper">
      <div class="czt-row">
        <div class="czt-column">
        </div>
      </div>
    </div>
  </div>
  <div class="tab description" data-group="primary" data-tab="description">
    <div class="czt-wrapper">
      <div class="czt-row">
        <div class="czt-column"><h2>{{localize 'CZT.Actor.Master.Title'}}</h2></div>
      </div>
      <div class="czt-row">
        <div class="czt-column">
          <div class="item-block">
            {{localize 'CZT.Actor.Master.SubTitle'}}
            <ul>
              <li>{{localize 'CZT.Actor.Master.List1'}}</li>
              <li>{{localize 'CZT.Actor.Master.List2'}}</li>
              <li>{{localize 'CZT.Actor.Master.List3'}}</li>
              <li>{{localize 'CZT.Actor.Master.List4'}}</li>
              <li>{{localize 'CZT.Actor.Master.List5'}}</li>
              <li>{{localize 'CZT.Actor.Master.List6'}}</li>
              <li>{{localize 'CZT.Actor.Master.List7'}}</li>
              <li>{{localize 'CZT.Actor.Master.List8'}}</li>
            </ul>
          </div>
          <div class="item-block">
            {{localize 'CZT.Actor.Master.Proncips'}}
            <ul>
              <li>{{localize 'CZT.Actor.Master.pList1'}}</li>
              <li>{{localize 'CZT.Actor.Master.pList2'}}</li>
              <li>{{localize 'CZT.Actor.Master.pList3'}}</li>
              <li>{{localize 'CZT.Actor.Master.pList4'}}</li>
              <li>{{localize 'CZT.Actor.Master.pList5'}}</li>
            </ul>
          </div>

        </div>
        <div class="czt-column">
          <div class="item-block">
            {{localize 'CZT.Actor.Master.oPresl'}}
            <p>{{localize 'CZT.Actor.Master.iPreslText1'}}</p>
            <p>{{localize 'CZT.Actor.Master.iPreslText2'}}</p>
          </div>
          <div class="item-block">
            {{localize 'CZT.Actor.Master.listPresl'}}
            <ul class="czt-ul">
              <li>
                <div class="czt-row">
                  <div class="czt-column master-label-block">{{localize 'CZT.Actor.Master.nameAndType'}}</div>
                  <div class="czt-column">
                    <input name="system.pursuers.p1.nametype" type="text" value="{{systemData.pursuers.p1.nametype}}" />
                  </div>
                </div>
                <div class="czt-row">
                  <div class="czt-column master-label-block">{{localize 'CZT.Actor.Master.labels'}}</div>
                  <div class="czt-column">
                    <div class="czt-row">
                      <input type="checkbox" name="system.pursuers.p1.l1" {{#if systemData.pursuers.p1.l1}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p1.l2" {{#if systemData.pursuers.p1.l2}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p1.l3" {{#if systemData.pursuers.p1.l3}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p1.l4" {{#if systemData.pursuers.p1.l4}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p1.l5" {{#if systemData.pursuers.p1.l5}} checked="checked"{{/if}} />
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="czt-row">
                  <div class="czt-column master-label-block">{{localize 'CZT.Actor.Master.nameAndType'}}</div>
                  <div class="czt-column">
                    <input name="system.pursuers.p2.nametype" type="text" value="{{systemData.pursuers.p2.nametype}}" />
                  </div>
                </div>
                <div class="czt-row">
                  <div class="czt-column master-label-block">{{localize 'CZT.Actor.Master.labels'}}</div>
                  <div class="czt-column">
                    <div class="czt-row">
                      <input type="checkbox" name="system.pursuers.p2.l1" {{#if systemData.pursuers.p2.l1}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p2.l2" {{#if systemData.pursuers.p2.l2}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p2.l3" {{#if systemData.pursuers.p2.l3}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p2.l4" {{#if systemData.pursuers.p2.l4}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p2.l5" {{#if systemData.pursuers.p2.l5}} checked="checked"{{/if}} />
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="czt-row">
                  <div class="czt-column master-label-block">{{localize 'CZT.Actor.Master.nameAndType'}}</div>
                  <div class="czt-column">
                    <input name="system.pursuers.p3.nametype" type="text" value="{{systemData.pursuers.p3.nametype}}" />
                  </div>
                </div>
                <div class="czt-row">
                  <div class="czt-column master-label-block">{{localize 'CZT.Actor.Master.labels'}}</div>
                  <div class="czt-column">
                    <div class="czt-row">
                      <input type="checkbox" name="system.pursuers.p3.l1" {{#if systemData.pursuers.p3.l1}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p3.l2" {{#if systemData.pursuers.p3.l2}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p3.l3" {{#if systemData.pursuers.p3.l3}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p3.l4" {{#if systemData.pursuers.p3.l4}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p3.l5" {{#if systemData.pursuers.p3.l5}} checked="checked"{{/if}} />
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="czt-row">
                  <div class="czt-column master-label-block">{{localize 'CZT.Actor.Master.nameAndType'}}</div>
                  <div class="czt-column">
                    <input name="system.pursuers.p4.nametype" type="text" value="{{systemData.pursuers.p4.nametype}}" />
                  </div>
                </div>
                <div class="czt-row">
                  <div class="czt-column master-label-block">{{localize 'CZT.Actor.Master.labels'}}</div>
                  <div class="czt-column">
                    <div class="czt-row">
                      <input type="checkbox" name="system.pursuers.p4.l1" {{#if systemData.pursuers.p4.l1}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p4.l2" {{#if systemData.pursuers.p4.l2}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p4.l3" {{#if systemData.pursuers.p4.l3}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p4.l4" {{#if systemData.pursuers.p4.l4}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p4.l5" {{#if systemData.pursuers.p4.l5}} checked="checked"{{/if}} />
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="czt-row">
                  <div class="czt-column master-label-block">{{localize 'CZT.Actor.Master.nameAndType'}}</div>
                  <div class="czt-column">
                    <input name="system.pursuers.p5.nametype" type="text" value="{{systemData.pursuers.p5.nametype}}" />
                  </div>
                </div>
                <div class="czt-row">
                  <div class="czt-column master-label-block">{{localize 'CZT.Actor.Master.labels'}}</div>
                  <div class="czt-column">
                    <div class="czt-row">
                      <input type="checkbox" name="system.pursuers.p5.l1" {{#if systemData.pursuers.p5.l1}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p5.l2" {{#if systemData.pursuers.p5.l2}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p5.l3" {{#if systemData.pursuers.p5.l3}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p5.l4" {{#if systemData.pursuers.p5.l4}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p5.l5" {{#if systemData.pursuers.p5.l5}} checked="checked"{{/if}} />
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--          <table class="actor-items-equipment czt-table">
            {{#each items as |item key|}}
              <tr item-id="{{item._id}}" item-type="{{item.type}}" class="actor-items-single cursor-click">
                <td class="table-line-img"><img src="{{item.img}}" alt="{{item.name}}"></td>
                <td class="table-line-name sheet-roll-weapon">{{item.name}}</td>
                <td></td>
                <td class="table-line-control icon-trash"><i class="fa-solid fa-trash actor-item-remove"></i></td>
              </tr>
            {{else}}
              <tr><td>{{localize "CZT.Actor.Inventory.itNoEquips"}}</td></tr>
            {{/each}}
          </table>
-->

</form>
