<form class="{{cssClass}}" autocomplete="off">
<div class="czt-wrapper">
  <div class="czt-row">
    <div class="czt-column">
      <input name="name" type="text" value="{{data.name}}" placeholder="{{localize "CZT.Actor.Name"}}" />
    </div>
  </div>
</div>

<nav class="sheet-tabs tabs" data-group="primary">
  <a class="item" data-tab="properties">{{localize "CZT.Common.Navs.Game"}}</a>
  <a class="item" data-tab="description">{{localize "CZT.Common.Navs.Master"}}</a>
</nav>

<section class="sheet-body">

  <div class="tab properties" data-group="primary" data-tab="properties">
    <div class="czt-wrapper">
      <div class="czt-row">
        <div class="czt-column czt-style-center game-name">{{localize 'CZT.Actor.GameName'}}</div>
      </div>
      <div class="czt-row">
        <div class="czt-column czt-style-center">{{localize 'CZT.Actor.SubTtile'}}</div>
      </div>
      <div class="czt-row">
        <div class="czt-column"></div>
        <div class="czt-column text-align-right">
          <input type="text" name="system.subHeroes.hero1.name" value="{{systemData.subHeroes.hero1.name}}" />
        </div>
        <div class="czt-column czt-style-center style-width15">{{localize 'CZT.Actor.HeroName'}}</div>
        <div class="czt-column">
          <input type="text" name="system.subHeroes.hero2.name" value="{{systemData.subHeroes.hero2.name}}" />
        </div>
        <div class="czt-column"></div>
      </div>
      <div class="czt-row">
        <div class="czt-column"></div>
        <div class="czt-column text-align-right">
          <input type="text" name="system.subHeroes.hero1.concept" value="{{systemData.subHeroes.hero1.concept}}" />
        </div>
        <div class="czt-column czt-style-center style-width15">{{localize 'CZT.Actor.Concept'}}</div>
        <div class="czt-column">
          <input type="text" name="system.subHeroes.hero2.concept" value="{{systemData.subHeroes.hero2.concept}}" />
        </div>
        <div class="czt-column"></div>
      </div>
      <div class="czt-row">
        <div class="czt-column"></div>
        <div class="czt-column text-align-right">
          <input type="text" name="system.subHeroes.hero1.memorabilia" value="{{systemData.subHeroes.hero1.memorabilia}}" />
        </div>
        <div class="czt-column czt-style-center style-width15"><span class="block-inline">{{localize 'CZT.Actor.Memorabilia'}} (+ <i class="fa-light fa-dice-six"></i>)</span></div>
        <div class="czt-column">
          <input type="text" name="system.subHeroes.hero2.memorabilia" value="{{systemData.subHeroes.hero2.memorabilia}}" />
        </div>
        <div class="czt-column"></div>
      </div>
      <div class="czt-row">
        <div class="czt-column czt-style-center block-header">{{localize 'CZT.Actor.Approaches'}}</div>
      </div>
      <div class="czt-row">
        <div class="czt-column czt-style-center">{{localize 'CZT.Actor.ApproachesTitle'}}</div>
      </div>
      <div class="czt-row">
        <div class="czt-column text-align-right click-podhod">
            <span class="approach-block appr-block-left" 
              appr-id="BATTLE"
              {{#if systemData.approaches.BATTLE}} style="border: 3px solid {{systemData.approaches.BATTLE}};"{{/if}}>
            {{localize 'CZT.Actor.BATTLE'}}
            </span>
          </div>
        <div class="czt-column style-width10-center padding-top"><i class="fa-solid fa-circle"></i></div>
        <div class="czt-column click-podhod">
          <span class="approach-block" 
            appr-id="CHARMING"
            {{#if systemData.approaches.CHARMING}} style="border: 3px solid {{systemData.approaches.CHARMING}};"{{/if}}>
          {{localize 'CZT.Actor.CHARMING'}}
          </span>  
        </div>
      </div>
      <div class="czt-row">
        <div class="czt-column text-align-right click-podhod">
          <span class="approach-block appr-block-left" 
            appr-id="PERSISTENT"
            {{#if systemData.approaches.PERSISTENT}} style="border: 3px solid {{systemData.approaches.PERSISTENT}};"{{/if}}>
            {{localize 'CZT.Actor.PERSISTENT'}}
          </span>
        </div>
        <div class="czt-column style-width10-center padding-top"><i class="fa-solid fa-circle"></i></div>
        <div class="czt-column click-podhod">
          <span class="approach-block" 
            appr-id="YURKIY"
            {{#if systemData.approaches.YURKIY}} style="border: 3px solid {{systemData.approaches.YURKIY}};"{{/if}}>
            {{localize 'CZT.Actor.YURKIY'}}
          </span>
        </div>
      </div>
      <div class="czt-row">
        <div class="czt-column text-align-right click-podhod">
          <span class="approach-block appr-block-left" 
            appr-id="RICH"
            {{#if systemData.approaches.RICH}} style="border: 3px solid {{systemData.approaches.RICH}};"{{/if}}>
            {{localize 'CZT.Actor.RICH'}}
          </span>
        </div>
        <div class="czt-column style-width10-center padding-top"><i class="fa-solid fa-circle"></i></div>
        <div class="czt-column click-podhod">
          <span class="approach-block" 
            appr-id="LUCKY"
            {{#if systemData.approaches.LUCKY}} style="border: 3px solid {{systemData.approaches.LUCKY}};"{{/if}}>
            {{localize 'CZT.Actor.LUCKY'}}
          </span>
        </div>
      </div>
      <div class="czt-row">
        <div class="czt-column czt-style-center block-header">{{localize 'CZT.Actor.Actions'}}</div>
      </div>
      <div class="czt-row">
        <div class="czt-column czt-style-center">
          <span class="block-inline">
            <i class="fa-light fa-dice-six"></i> <i class="fa-light fa-dice-six"></i>, {{localize 'CZT.Actor.ifStep'}}, <i class="fa-light fa-dice-six"></i> {{localize 'CZT.Actor.ifStepNo'}}
          </span>
          </div>
      </div>
      <div class="czt-row">
        <div class="czt-column text-align-right"><span class="block-inline">+ <i class="fa-light fa-dice-six"></i> {{localize 'CZT.Actor.zaElement'}}</span></div>
        <div class="czt-column style-width10-center"><i class="fa-solid fa-circle"></i></div>
        <div class="czt-column"><span class="block-inline">- <i class="fa-light fa-dice-six"></i>  {{localize 'CZT.Actor.zaPristup'}}</span></div>
      </div>
      <div class="czt-row">
        <div class="czt-column text-align-right">{{localize 'CZT.Actor.if56'}}</div>
        <div class="czt-column style-width10-center"><i class="fa-solid fa-circle"></i></div>
        <div class="czt-column">{{localize 'CZT.Actor.pristup1'}}</div>
      </div>
      
      <div class="czt-row">
        <div class="czt-column text-align-right">
          <span class="block-inline" hero-id="hero1">
            {{#if systemData.subHeroes.hero1.cubeLive.c1}}<i class="click-cube-live fa-light fa-dice-six fonst-size-30" item-id="c1"></i>{{else}}<i class="click-cube-live fa-solid fa-dice-six fonst-size-30" item-id="c1"></i>{{/if}}
            {{#if systemData.subHeroes.hero1.cubeLive.c2}}<i class="click-cube-live fa-light fa-dice-six fonst-size-30" item-id="c2"></i>{{else}}<i class="click-cube-live fa-solid fa-dice-six fonst-size-30" item-id="c2"></i>{{/if}}
            {{#if systemData.subHeroes.hero1.cubeLive.c3}}<i class="click-cube-live fa-light fa-dice-six fonst-size-30" item-id="c3"></i>{{else}}<i class="click-cube-live fa-solid fa-dice-six fonst-size-30" item-id="c3"></i>{{/if}}
            {{#if systemData.subHeroes.hero1.cubeLive.c4}}<i class="click-cube-live fa-light fa-dice-six fonst-size-30" item-id="c4"></i>{{else}}<i class="click-cube-live fa-solid fa-dice-six fonst-size-30" item-id="c4"></i>{{/if}}
            {{#if systemData.subHeroes.hero1.cubeLive.c5}}<i class="click-cube-live fa-light fa-dice-six fonst-size-30" item-id="c5"></i>{{else}}<i class="click-cube-live fa-solid fa-dice-six fonst-size-30" item-id="c5"></i>{{/if}}
          </span>
        </div>
        <div class="czt-column czt-style-center block-header style-width15">{{localize 'CZT.Actor.cubeLive'}}</div>
        <div class="czt-column">
          <span class="block-inline" hero-id="hero2">
            {{#if systemData.subHeroes.hero2.cubeLive.c1}}<i class="click-cube-live fa-light fa-dice-six fonst-size-30" item-id="c1"></i>{{else}}<i class="click-cube-live fa-solid fa-dice-six fonst-size-30" item-id="c1"></i>{{/if}}
            {{#if systemData.subHeroes.hero2.cubeLive.c2}}<i class="click-cube-live fa-light fa-dice-six fonst-size-30" item-id="c2"></i>{{else}}<i class="click-cube-live fa-solid fa-dice-six fonst-size-30" item-id="c2"></i>{{/if}}
            {{#if systemData.subHeroes.hero2.cubeLive.c3}}<i class="click-cube-live fa-light fa-dice-six fonst-size-30" item-id="c3"></i>{{else}}<i class="click-cube-live fa-solid fa-dice-six fonst-size-30" item-id="c3"></i>{{/if}}
            {{#if systemData.subHeroes.hero2.cubeLive.c4}}<i class="click-cube-live fa-light fa-dice-six fonst-size-30" item-id="c4"></i>{{else}}<i class="click-cube-live fa-solid fa-dice-six fonst-size-30" item-id="c4"></i>{{/if}}
            {{#if systemData.subHeroes.hero2.cubeLive.c5}}<i class="click-cube-live fa-light fa-dice-six fonst-size-30" item-id="c5"></i>{{else}}<i class="click-cube-live fa-solid fa-dice-six fonst-size-30" item-id="c5"></i>{{/if}}
          </span>
        </div>
      </div>
      <div class="czt-row">
        <div class="czt-column czt-style-center"><span class="block-inline">
          {{localize 'CZT.Actor.addCubes'}} <i class="fa-light fa-dice-six"></i>, {{localize 'CZT.Actor.addCubes2'}}.<br>
          {{localize 'CZT.Actor.addCubes3'}} <i class="fa-light fa-dice-six"></i>, {{localize 'CZT.Actor.addCubes4'}}
        </span></div>
      </div>
      <div class="czt-row">
        <div class="czt-column czt-style-center"><span class="block-inline">
          {{localize 'CZT.Actor.addCubes5'}} <i class="fa-light fa-dice-six"></i> {{localize 'CZT.Actor.addCubes6'}}
        </div>
      </div>
      <div class="czt-row">
        <div class="czt-column text-align-right">
          <table class="actor-items-equipment czt-table" hero-id="hero1">
            {{#each systemData.subHeroes.hero1.elements as |item key|}}
              <tr item-id="{{item.id}}" class="actor-items-single cursor-click">
                <td class="table-line-name">{{item.name}}</td>
                <td></td>
                <td class="table-line-control icon-trash"><i class="fa-solid fa-trash actor-item-remove"></i></td>
              </tr>
            {{else}}
              <tr><td>{{localize "CZT.Actor.Inventory.itNoEquips"}}</td></tr>
            {{/each}}
          </table>
        </div>
        <div class="czt-column element-border">{{localize 'CZT.Actor.HelpElements'}}</div>
        <div class="czt-column">
          <table class="actor-items-equipment czt-table" hero-id="hero2">
            {{#each systemData.subHeroes.hero2.elements as |item key|}}
              <tr item-id="{{item.id}}" class="actor-items-single cursor-click">
                <td class="table-line-control icon-trash"><i class="fa-solid fa-trash actor-item-remove"></i></td>
                <td></td>
                <td class="table-line-name">{{item.name}}</td>
              </tr>
            {{else}}
              <tr><td>{{localize "CZT.Actor.Inventory.itNoEquips"}}</td></tr>
            {{/each}}
          </table>
        </div>
      </div>
      <div class="czt-row">
        <div class="czt-column text-align-right cursor-click" hero-id="hero1">
          <span class="put-goals">
            {{localize 'CZT.Actor.GetGoals'}} <i class="fa-solid fa-bullseye-pointer"></i>
          </span>          
        </div>
        <div class="czt-column element-border"></div>
        <div class="czt-column cursor-click" hero-id="hero2">
          <span class="put-goals">
            <i class="fa-solid fa-bullseye-pointer"></i> {{localize 'CZT.Actor.GetGoals'}}
          </span>          
        </div>
      </div>
      <div class="czt-row">
        <div class="czt-column text-align-right">

        </div>
        <div class="czt-column element-border">{{localize 'CZT.Actor.HelpGoals'}}</div>
        <div class="czt-column"></div>
      </div>
    </div>
  </div>
  <div class="tab description" data-group="primary" data-tab="description">
    <div class="czt-wrapper">
      <div class="czt-row">
        <div class="czt-column"><h2>{{localize 'CZT.Actor.Master.Title'}}</h2></div>
      </div>
      <div class="czt-row">
        <div class="czt-column side-block">
          <div class="item-block">
            <b>{{localize 'CZT.Actor.Master.SubTitle'}}</b>
            <ul class="help-list">
              <li>{{localize 'CZT.Actor.Master.List1'}}</li>
              <li>{{localize 'CZT.Actor.Master.List2'}}</li>
              <li>{{localize 'CZT.Actor.Master.List3'}}</li>
              <li>{{localize 'CZT.Actor.Master.List4'}}</li>
              <li>{{localize 'CZT.Actor.Master.List5'}}</li>
              <li>{{localize 'CZT.Actor.Master.List6'}}</li>
              <li>{{localize 'CZT.Actor.Master.List7'}}</li>
              <li>{{localize 'CZT.Actor.Master.List8'}}</li>
            </ul>
          </div>
          <div class="item-block">
            <b>{{localize 'CZT.Actor.Master.Proncips'}}</b>
            <ul class="help-list">
              <li>{{localize 'CZT.Actor.Master.pList1'}}</li>
              <li>{{localize 'CZT.Actor.Master.pList2'}}</li>
              <li>{{localize 'CZT.Actor.Master.pList3'}}</li>
              <li>{{localize 'CZT.Actor.Master.pList4'}}</li>
              <li>{{localize 'CZT.Actor.Master.pList5'}}</li>
            </ul>
          </div>

        </div>
        <div class="czt-column">
          <div class="item-block">
            <b>{{localize 'CZT.Actor.Master.oPresl'}}</b>
            <p>{{localize 'CZT.Actor.Master.iPreslText1'}}</p>
            <p>{{localize 'CZT.Actor.Master.iPreslText2'}}</p>
          </div>
          <div class="item-block">
            <b>{{localize 'CZT.Actor.Master.listPresl'}}</b>
            <ul class="czt-ul block-presl">
              <li>
                <div class="czt-row">
                  <div class="czt-column master-label-block text-to-down">{{localize 'CZT.Actor.Master.nameAndType'}}</div>
                  <div class="czt-column">
                    <input name="system.pursuers.p1.nametype" type="text" value="{{systemData.pursuers.p1.nametype}}" />
                  </div>
                </div>
                <div class="czt-row">
                  <div class="czt-column master-label-block">{{localize 'CZT.Actor.Master.labels'}}</div>
                  <div class="czt-column">
                    <div class="czt-row">
                      <input type="checkbox" name="system.pursuers.p1.l1" {{#if systemData.pursuers.p1.l1}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p1.l2" {{#if systemData.pursuers.p1.l2}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p1.l3" {{#if systemData.pursuers.p1.l3}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p1.l4" {{#if systemData.pursuers.p1.l4}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p1.l5" {{#if systemData.pursuers.p1.l5}} checked="checked"{{/if}} />
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="czt-row">
                  <div class="czt-column master-label-block text-to-down">{{localize 'CZT.Actor.Master.nameAndType'}}</div>
                  <div class="czt-column">
                    <input name="system.pursuers.p2.nametype" type="text" value="{{systemData.pursuers.p2.nametype}}" />
                  </div>
                </div>
                <div class="czt-row">
                  <div class="czt-column master-label-block">{{localize 'CZT.Actor.Master.labels'}}</div>
                  <div class="czt-column">
                    <div class="czt-row">
                      <input type="checkbox" name="system.pursuers.p2.l1" {{#if systemData.pursuers.p2.l1}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p2.l2" {{#if systemData.pursuers.p2.l2}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p2.l3" {{#if systemData.pursuers.p2.l3}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p2.l4" {{#if systemData.pursuers.p2.l4}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p2.l5" {{#if systemData.pursuers.p2.l5}} checked="checked"{{/if}} />
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="czt-row">
                  <div class="czt-column master-label-block text-to-down">{{localize 'CZT.Actor.Master.nameAndType'}}</div>
                  <div class="czt-column">
                    <input name="system.pursuers.p3.nametype" type="text" value="{{systemData.pursuers.p3.nametype}}" />
                  </div>
                </div>
                <div class="czt-row">
                  <div class="czt-column master-label-block">{{localize 'CZT.Actor.Master.labels'}}</div>
                  <div class="czt-column">
                    <div class="czt-row">
                      <input type="checkbox" name="system.pursuers.p3.l1" {{#if systemData.pursuers.p3.l1}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p3.l2" {{#if systemData.pursuers.p3.l2}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p3.l3" {{#if systemData.pursuers.p3.l3}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p3.l4" {{#if systemData.pursuers.p3.l4}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p3.l5" {{#if systemData.pursuers.p3.l5}} checked="checked"{{/if}} />
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="czt-row">
                  <div class="czt-column master-label-block text-to-down">{{localize 'CZT.Actor.Master.nameAndType'}}</div>
                  <div class="czt-column">
                    <input name="system.pursuers.p4.nametype" type="text" value="{{systemData.pursuers.p4.nametype}}" />
                  </div>
                </div>
                <div class="czt-row">
                  <div class="czt-column master-label-block">{{localize 'CZT.Actor.Master.labels'}}</div>
                  <div class="czt-column">
                    <div class="czt-row">
                      <input type="checkbox" name="system.pursuers.p4.l1" {{#if systemData.pursuers.p4.l1}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p4.l2" {{#if systemData.pursuers.p4.l2}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p4.l3" {{#if systemData.pursuers.p4.l3}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p4.l4" {{#if systemData.pursuers.p4.l4}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p4.l5" {{#if systemData.pursuers.p4.l5}} checked="checked"{{/if}} />
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="czt-row">
                  <div class="czt-column master-label-block text-to-down">{{localize 'CZT.Actor.Master.nameAndType'}}</div>
                  <div class="czt-column">
                    <input name="system.pursuers.p5.nametype" type="text" value="{{systemData.pursuers.p5.nametype}}" />
                  </div>
                </div>
                <div class="czt-row">
                  <div class="czt-column master-label-block">{{localize 'CZT.Actor.Master.labels'}}</div>
                  <div class="czt-column">
                    <div class="czt-row">
                      <input type="checkbox" name="system.pursuers.p5.l1" {{#if systemData.pursuers.p5.l1}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p5.l2" {{#if systemData.pursuers.p5.l2}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p5.l3" {{#if systemData.pursuers.p5.l3}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p5.l4" {{#if systemData.pursuers.p5.l4}} checked="checked"{{/if}} />
                      <input type="checkbox" name="system.pursuers.p5.l5" {{#if systemData.pursuers.p5.l5}} checked="checked"{{/if}} />
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
  
  <!-- Goals panel here -->


    </div>
  </div>
</section>

</form>
